################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin
/obj
/.vs/Latex4CorelDRAW
/.vs
